.navbar {
  display: flex;
  padding: 10px;
  margin-bottom: 20px;
  justify-content: center;
  background-color: rgb(55, 55, 133);
}
.home {
  display: flex;
  font-size: 20px;
  padding: 10px;
  margin: auto;
  margin-left: 20px;
  margin-right: 20px;
  color: black;
  text-decoration: none;
}
.home:hover {
  border-bottom: 2px solid aqua;
}
