.head {
  padding: 10px;
  text-align: center;
  font-size: 20px;
}
body{
  background-color: rgb(19, 19, 56);
}
h1 {
  margin: auto;
  background-color: rgb(48, 48, 59);
  width: fit-content;
  padding: 20px;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
  color: aliceblue;
  font-family: "Shantell Sans rev=1";
}
.main-div {
  margin: auto;
  width: 100%;
}
.upper-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  border-bottom: 2px solid rgb(70, 70, 80);
  height: 45vh;
  width: 45%; 
  margin: auto;
}
.add-list {
  display: flex;
  justify-content: space-between;
  
}
.show-list {
  margin: 30px;
  overflow: scroll;
}
.show-list::-webkit-scrollbar {
  display: none;
}

input[type="text"] {
  text-align: center;
  border: 2px solid rgb(70, 70, 80);
  font-size: 15px;
  padding: 10px;
  outline: none;
  background-color: rgb(57, 57, 78);
  /* width: 400px; */
  flex: 12;
  border-radius: 8px;
  color: aliceblue;
  margin-right: 20px;
}
#Add {
  background-color: rgb(57, 57, 78);
  color: white;
  font-size: 20px;
  border: none;
  padding: 10px;
  border: 2px solid rgb(70, 70, 80);
  outline: none;
  flex:1;
  border-radius: 8px;
}
#Add:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.lower-container {
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 20px;
}
.active,
.added,
.completed,
.remove {
  padding: 30px;
  text-align: center;
  border: 2px solid rgb(70, 70, 80);
  margin: 30px;
  font-size: 25px;
  background-color: rgb(48, 48, 59);
  border-radius: 10px;
  font-weight: 500;
  color: aliceblue;
  font-family: 'Julee', cursive;
}
.active:hover{
  cursor: pointer;
  -ms-transform: scale(1.2); 
  -webkit-transform: scale(1.2); 
  transform: scale(1.2); 
  background-color: #232c3a;
  
}
.added:hover{
  cursor: pointer;
  -ms-transform: scale(1.2); 
  -webkit-transform: scale(1.2); 
  transform: scale(1.2); 
  background-color: #232c3a;
}
.completed:hover{
  cursor: pointer;
  -ms-transform: scale(1.2); 
  -webkit-transform: scale(1.2); 
  transform: scale(1.2); 
  background-color: #232c3a;
}
.remove:hover{
  cursor: pointer;
  -ms-transform: scale(1.2); 
  -webkit-transform: scale(1.2); 
  transform: scale(1.2); 
  background-color: #232c3a;
}
