.list-style{
    color: aliceblue;
    font-size: 20px;
    list-style-type: square;
    display: flex;
    border-bottom: 1px solid  rgb(70, 70, 80);
    
    margin:10px;
  
}
.fa-check{
    flex:1;
    justify-content: center;
    display: flex;
 
}
.fa-times{
    justify-content: center;
    display: flex;
flex:1;

}
.list-text{
border-radius: 10px;
flex:10;
font-family: 'Dancing Script', cursive;
font-size: 30px;
font-weight: 400;

}

.fa-check:hover{
    color: green;
}
.fa-times:hover{
    color: red;
}
  